#logInContent {
  padding: 50px 20px 50px 20px;
  background-image: linear-gradient(to bottom, var(--primary-orange),var(--secondary-orange));
  /* min-height: 100vh; */
  width: 100%;
}

#accountForm {
  background: white;
  width: 100%;
  max-width: 480px;
  height: 90%;
  border-radius: 10px;
  padding: 20px 50px 50px 50px;
  position: relative;
}

#accountForm .formHeader {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: var(--basic-black);
  margin: 20px auto;
}
.loginInfo div label {
  display: block;
  text-align: left;
}
.loginInfo div input {
  width: 100%;
  padding: 10px 30px;
  margin: 10px auto;
  border-radius: 5px;
  text-align: left;
  border: 2px solid var(--soft-black);
}
.formAccess div {
  margin: 20px auto;
}
.formAccess a {
  margin-right: 0;
  color: var(--dark-blue);
  font-weight: bold;
}

.formButtons {
  margin-top: 20px;
}
.formButtons hr {
  margin: 20px auto;
}
.formButtons button {
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  background: var(--dark-blue);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.formButtons button:hover {
  cursor: pointer;
  background: var(--primary-blue);
}
.formButtons .fbButton {
  background: #3B5998;
}
.formButtons .fbButton:hover {
  background: rgb(24, 45, 92);
}
.formButtons .googButton {
  background: #4C8BF5;
}
.formButtons .googButton:hover {
  background: rgb(34, 93, 196);
}

.altAcct {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 100px);
}
.altAcct a {
  color: var(--dark-blue);
  font-weight: bold;
}