.textSegment {
  padding: 20px;
  z-index: 9;
}
.textSegment .text-seg-header {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 1.5em;
  color: var(--basic-black);
  margin: 20px auto;
}
.textSegment .text-seg-info {
  line-height: 2rem;
}
.textSegment a {
  background: var(--dark-blue);
  border: none;
  margin: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.textSegment a:hover {
  cursor: pointer;
  background: var(--primary-blue);
}

.landingImg {
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px; 
}




@media only screen and (width: 720px) {
  .textSegment {
    align-self: center;
    padding: none;
  }
  .textSegment .text-seg-header {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 2em;
    color: var(--basic-black);
    margin: 20px auto;
  }
}