.userStory {
  list-style-type: none;
  margin: 50px 20px;
}
.successImg {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
}
.userStory cite {
  line-height: 2rem;
}

blockquote {
  font-family: 'Arimo', sans-serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}
blockquote:before {
  font-family: 'Pacifico', cursive;
  position: absolute;
  font-size: 3em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: 'Pacifico', cursive;
  position: absolute;
  float:right;
  font-size:3em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
}
cite:before {
  content: "\2013\ ";
}



@media only screen and (min-width: 720px) {
  .userStory {
    flex: 1;
    margin: 50px auto;
    padding: 0;
  }

  blockquote {
    font-family: 'Arimo', sans-serif;
    position: relative;
    margin: 0.5em;
    padding: 10px .5em;
  }
  blockquote:before {
    content: none;
  }
  blockquote:after {
    content: none;
  }
}