#hero {
  min-height: 100vh;
  position: relative;
  background: white;
}

#heroImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

@media only screen and (min-width: 720px) {
  #hero {
    height: 100vh;
    position: relative;
  }

  #heroImg {
    max-width: 50%;
    height: 300px;
    align-self: center;
  }
}