



@media only screen and (min-width: 720px) {
  #landingSection section {
    padding: 50px;
    display: flex;
  }
  #landingSection section:nth-child(even) {
    flex-direction: row-reverse;
  } 
  #landingSection section .textSegment {
    max-width: 50%;
  }
  #landingSection section:nth-child(even) .textSegment p {
    text-align: right;
  }
  #landingSection section:nth-child(odd) .textSegment p {
    text-align: left;
  }
  #landingSection section:nth-child(1) .textSegment p {
    text-align: center;
  }
}