@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Pacifico&display=swap');

:root {
  --dark-orange: #FF6750;
  --primary-orange: rgb(255, 115, 88);
  --secondary-orange: rgb(255, 162, 98);
  --ternary-orange: #ffda88;
  
  --dark-blue: #1B9DA7;
  --primary-blue: #42d8e4;
  --secondary-blue: #8ae3ff;
  --ternary-blue: #f0ffff;

  --basic-black: #222222;
  --soft-black: #bbbbbb;
}

* {
  font-family: 'Arimo', sans-serif;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

#App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}